@import '../../../styles/variables';

.dark {
    .ant-popover-inner {
        background-color: $dark-text-color !important;
    }
}

.ant-popover-inner {
    border-radius: 6px;

    .ant-btn-primary,
    .ant-btn-default {
        border: 1px solid orange;
        height: 30px;
        width: auto;
        font-size: 14px;
        padding-bottom: 26px;

        &:hover {
            border: 1px solid orange;
        }
    }

    .ant-popover-buttons {
        margin-bottom: 0;
    }
}