$accent-color: rgb(255, 88, 5);
$dark-bg-color: rgb(42, 42, 42);
$light-bg-color: rgb(253, 243, 186);
$light-text-color: rgba(0, 0, 0, 0.85);
$dark-text-color: rgba(255, 211, 157);
$dark-opacity-text-color: rgba(255, 211, 157, 0.684);
$title-color: rgb(252, 151, 44);
$light-muted-text-color: rgba(127, 126, 126, 0.888);
$dark-muted-text-color: rgba(168, 151, 134, 0.773);
$card-bg-color: rgba(219, 124, 22, 0.45);