@import '../../../../styles/variables';

.links-drawer {
    .ant-drawer-body {
        height: 40px;
        padding: 24px;
        overflow: auto;
    }

    .ant-drawer-top .ant-drawer-content-wrapper {
        top: 80px;
        height: 40px !important;
    }

    .ant-drawer-body {
        margin: 0 !important;
        padding: 10px 15px;
    }

    .title-sm {
        margin-right: 20px;
        h1 {
            color: $title-color;
            font-size: 22px;
            font-weight: 800 !important;
            margin-bottom: 0;
        }
    }

    nav {
        padding-top: 7px;
        a {
            font-size: 18px;
            font-weight: 500;
            color: $dark-opacity-text-color;

            &:hover {
                color: $dark-text-color;
            }
        }
    }
}