@import '../../../styles/variables';

h3 {
    max-width: 650px;
}

a {
    font-weight: 600;
    font-size: 22px;

    &:hover {
        color: rgb(255, 76, 5);
        transition: 300ms;
    }
}

.empty-data-message {
    font-size: 22px;
}

hr {
    height: 2px;
    background-color: $accent-color;
    width: 50%;
    border: none;
    margin-top: 20px;
}