@import '../../../styles/variables';

.ant-steps-item-icon {
    background: $dark-bg-color  !important;
    border: 2px solid $dark-bg-color;
    color: $title-color  !important;
    font-size: 26px;
    width: 50px;
    height: 50px;
}

.ant-steps-item-process .ant-steps-item-icon {
    background: $title-color  !important;
    border: 2px solid $title-color;
    top: 4.5px;
}

.ant-steps-item-icon .ant-steps-icon {
    top: 4.5px;
}

.ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-icon .ant-steps-icon {
    color: $dark-bg-color;
}

.ant-steps-item-wait .ant-steps-item-icon>.ant-steps-icon {
    color: $title-color;
}

.ant-steps-item-wait>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title {
    color: $title-color;
}

.ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title {
    color: $title-color;
}

.ant-steps-item-wait .ant-steps-item-icon {
    border: 2px solid $title-color;
}

.ant-steps-finish-icon {
    color: $title-color  !important;
}

.ant-steps-item-finish .ant-steps-item-icon {
    border: 2px solid $title-color;
}

.ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title {
    color: $title-color;
}

.ant-steps-item-title {
    font-size: 20px;
    line-height: 45px;
}

.ant-steps-item-title::after {
    display: none;
}

.steps-content {
    height: 200px;
    color: $dark-text-color;
    padding: 50px 30px;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}

.steps-action {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.ant-btn-primary,
.ant-btn-default {
    border-radius: 5px;
    width: 100px;
    height: 40px;
    border: 1px solid orange;
    background-color: transparent;
    color: orange;
    padding: 5px 10px;
    font-weight: 500;
    font-size: 18px;
}

.ant-btn-primary:hover,
.ant-btn-primary:focus,
.ant-btn-default:hover,
.ant-btn-default:focus {
    background-color: orange;
    border: 1px solid orange;
    color: $dark-bg-color;
}

@media screen and (max-width: 767px) {
    .ant-steps-item-icon {
        font-size: 20px;
        width: 40px;
        height: 40px;
    }

    .ant-steps-item-icon .ant-steps-icon {
        top: 1.5px;
    }

    .ant-steps-item-title {
        font-size: 17px;
        line-height: 45px;
        margin-top: -3px;
    }

    .ant-steps-vertical {
        flex-direction: row;
    }

    .ant-steps-item-tail::after {
        display: none;
    }

    .steps-content {
        line-height: 34px;
    }
}

@media screen and (max-width: 479px) {
    .steps-block-progress {
        margin: 5px 0 0 0;
    }

    .ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title,
    .ant-steps-item-wait>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title,
    .ant-steps-item-wait>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title,
    .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title {
        display: none;
    }

    .ant-steps {
        width: 100%;
        justify-content: space-between;
    }

    .ant-steps-item-wait>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title {
        flex: 0 1 auto;
    }

    .ant-steps-vertical>.ant-steps-item {
        flex: 0 1 auto;
    }

    .steps-content {
        height: auto;
        color: rgb(255, 211, 157);
        padding: 25px 10px;
        font-size: 24px;
        font-weight: 600;
        text-align: center;
        line-height: 28px;
    }
}