@import '../../../styles/variables';

.dark {
    .ant-input {
        color: $dark-text-color;

        &::placeholder {
            color: $dark-muted-text-color;
        }
    }

    .anticon svg {
        color: orange;
    }

    .ant-btn-default {
        &:hover {
            border: 2px solid orange;

            .anticon svg {
                color: $light-text-color;
            }
        }
    }
}

.search-block {
    position: relative;
    width: 100%;
    margin-right: 10px;
}

.ant-btn-default {
    height: 40px;
    border: 2px solid orange;
}

.ant-input-group-wrapper {
    border-radius: 6px;
    margin-bottom: 10px;
}

.ant-input-search .ant-input-group .ant-input-affix-wrapper:not(:last-child) {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.ant-input-group-addon:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.ant-input-search>.ant-input-group>.ant-input-group-addon:last-child .ant-input-search-button {
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 0 6px 6px 0;
}

.ant-input-group-addon {
    background-color: rgba(219, 124, 22, 0.45);
    border: 2px solid orange;
}

.ant-input-affix-wrapper {
    height: 100%;
    border: 2px solid orange;
    border-right-width: 1px;
    background-color: transparent;
}

.ant-input {
    background-color: transparent;

    &::placeholder {
        color: $light-muted-text-color;
    }
}

.ant-input-group {
    height: 40px;
}

.ant-input-search .ant-input:hover,
.ant-input-search .ant-input:focus {
    border-color: orange;
}

.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
    border-right-width: 1px;
    border-color: orange;
    z-index: 1;
}

.ant-input-affix-wrapper-focused {
    box-shadow: none;
}


.ant-btn-icon-only>* {
    font-size: 18px;
}

@media screen and (max-width: 479px) {
    .ant-input-search>.ant-input-group>.ant-input-group-addon:last-child .ant-input-search-button:not(.ant-btn-primary) {
        width: 50px;
    }
}