@import '../../../styles/variables';

.posts-pagination {
    justify-content: end;
    margin-top: 10px;

    .ant-pagination-item {
        line-height: 28px;
        background-color: transparent;
        border: 2px solid $title-color;
        border-radius: 6px;
        
        a {
            color: $title-color;
            transition: 100ms;
        }

        &:hover {
            background-color: $title-color !important;

            a {
                color: $light-text-color !important;
            }
        }
    }

    .ant-pagination-item-active {
        background: $title-color;

        a {
            color: $light-text-color;
        }
    }

    .ant-pagination-prev .ant-pagination-item-link,
    .ant-pagination-next .ant-pagination-item-link {
        font-size: 18px;
        text-align: center;
        background-color: transparent;
        border: none;
        color: $title-color;
    }

    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
        background-color: $card-bg-color;
        height: 34px;
        border: 2px solid $title-color;
        border-radius: 6px;
    }

    .ant-select-single.ant-select-open .ant-select-selection-item {
        color: $light-text-color;
    }

    .ant-select-single .ant-select-selector .ant-select-selection-item {
        font-size: 16px;
        font-weight: 500;
    }

    .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
        background-color: rgba(219, 124, 22, 0.176);
    }

    .ant-select-focused:not(ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
        border: 2px solid $title-color;
        box-shadow: none;
        border-right-width: 2px;
    }

    .ant-select-dropdown {
        font-size: 16px;
        background-color: $card-bg-color;
        border-radius: 6px;
        border: 2px solid $title-color;
        box-shadow: none;
        padding: 0;
    }

    .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
        font-weight: 700;
        background-color: rgba(219, 124, 22, 0.524);
    }

    .ant-select-item-option-content {
        font-size: 16px;
    }
}

@media screen and (max-width: 479px) {
    .posts-pagination {
        justify-content: center;
    }    
}