@import '../../styles/variables';

.container {
    min-height: calc(100vh - 80px);
    padding: 110px 100px 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    h3 {
        font-size: 34px;
        font-weight: 500;
        margin-top: 0;
    }

    p {
        font-size: 22px;
    }

    hr {
        height: 2px;
        background-color: $accent-color;
        width: 50%;
        border: none;
    }
}

@media screen and (max-width: 767px) {
    .container {
        padding: 80px 20px 30px;

        h3 {
            margin: 20px 0 17px;
        }
    }
}

@media screen and (max-width: 479px) {
    .container {
        padding: 80px 10px 30px;

        h3 {
            font-size: 30px;
            line-height: 30px;
        }
    }
}