@import './styles/_variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $dark-bg-color;
}

.light {
    background-color: $light-bg-color;
    color: $light-text-color;
}

.dark {
    background-color: $dark-bg-color;
    color: $dark-text-color;
}

.text-orange {
    color: $accent-color;
}

.btn {
    border-radius: 5px;
    border: 1px solid orange;
    background-color: transparent;
    color: orange;
    padding: 5px 10px;
    font-weight: 500;
    font-size: 18px;

    &:hover {
        background-color: orange;
        color: black;
        transition: 300ms;
        cursor: pointer;
    }
}

.d-flex {
    display: flex;
}

.w-100 {
    width: 100%;
}

.ant-input {

    &:focus,
    &:hover,
    .ant-input-focused {
        border-color: orange;
        box-shadow: none;
    }
}