@import '../../../styles/variables';

.blog-container {
    width: 96%;
    min-height: 120px;
    margin: 15px;
    border-radius: 8px;
    background-color: $card-bg-color;
}

.card-header {
    border: 2px solid $title-color;
    border-radius: 8px 8px 0 0;
    min-height: 40px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;

    .btn {
        border: 2px solid $title-color;
        color: $light-text-color;
        &:hover {
            background-color: $title-color;
        }
    }

    h2 {
        font-size: 28px;
        line-height: 42px;
        margin: 0;
        color: $light-text-color;
    }

    a {
        &:hover {
            color: $light-text-color !important;
        }
    }
}

.card-body {
    padding: 5px 20px;
    text-align: left;

    h5 {
        font-size: 17px;
        line-height: 22px;
    }
}

.card-footer {
    padding: 5px 20px;
    border: 2px solid $title-color;
    border-radius: 0 0 8px 8px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    p {
        margin: 0;
        font-size: 16px !important;
    }
}

@media screen and (max-width: 991px) {
    .blog-container {
        width: 100%;
        margin: 10px 0;
    }
}

@media screen and (max-width: 479px) {
    .card-header {
        padding: 10px 10px;
        h2 {
            font-size: 23px;
        }
        .btn {
            height: 40px;
        }
    }

    .card-body {
        padding: 5px 10px;
    
        h5 {
            font-size: 14px;
            line-height: 18px;
        }
    }
    
    .card-footer {
        padding: 5px 10px;
    
        p {
            margin: 0;
            font-size: 14px !important;
        }

        span {
            display: none;
        }
    }
}